body {
    background-color: #66CCCC;
    background-size: cover;
    color: #006666;
    font: 1.25em italic, arial;
    margin: 0;
}

h1 {
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    border: 3px solid rgb#336666;
}



.description {
    border: 3px solid rgb#336666;
	height: 6vh;
	left: 0;
	margin: 2em auto;
	padding: 1vh;
	position: absolute;
	right: 0;
	text-align: center;
	top: 72vh;
    width: 65vh;
    border-radius: 2%;
}

input[type=radio] {
    margin: 0.5rem;
}



.boxImg {
    width: 300px;
    height: 400px;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:200px;
    border-radius: 2%;
}

.radioB {
    padding: 15px;
    border: 3px solid #006666;
    left: 100px;
    margin:0;
    position: absolute;
    text-align: left;
    top:10vh;
    width:15%;
    border-radius: 2%;

}

img {
    width: 300px;
    height: 400px;
    left:0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    border: 3px solid #006666;
    border-radius: 2%;
}

button {
    background-color: rgb(135, 187, 187);
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    border: 3px solid #006666;
    border-radius: 20%;
}