<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Gallery</title>
    <link rel="stylesheet" href="css/gallery.css" type="text/css" </head>
</head>

<body>
    <form method="POST" action="/">
        {{>header}}
        <div class="loginDiv">
            <h3>Login</h3>
            <br>
            <br>
            <input type="text" name="userName" id="userName" required placeholder="Username" value="">
            <br>
            <br>
            <input type="password" name="password" id="password" required placeholder="Password" value="">
            <br>
            <br>
            <button id="login" type="submit" value="submit">Submit</button>
            <br>
            <a id="register" href="/registration">Register</a>
            <br>
            <label id="message" name="message">{{data}}</label>
        </div>

    </form>

</body>

</html>